@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #2c3e50;
  --color-secondary: #3498db;
  --color-success: #2ecc71;
  --color-danger: #e74c3c;
} 


@layer components {
  input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  button {
    @apply px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}
